<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 -- exercise, week 2


To be able to write SQL queries in this notebook, we first
have to run:

In [ ]:
%load_ext sql

We next want a SQLite3 database, and since we'll create
everything from scratch this time, we get to decide what
name we want to use:

In [ ]:
%sql sqlite:///library.sqlite

This will save the database in a file `library.sqlite` in
the directory from which you started Jupyter.

Now we're good to go, we just have to prefix our SQL queries
with `%sql` (one line of SQL) or `%%sql` (several lines of
SQL, this is the form we will use in most cases).


# Modeling

We did this during the lecture, you can see the problem text
and the resulting ER model in the [lecture
notes](https://fileadmin.cs.lth.se/cs/Education/edaf75/0e8f536b-5381-43de-8803-e438d148f6bc/notes-03.html).

# Translating the model into tables

Now try to write `CREATE TABLE` statements for the model, I
suggest you add `DROP TABLE IF EXISTS` before each time you
create a new table, so you can evaluate the cell below
several times (to get things right).

In total you should create 11 tables in the cell below:

In [ ]:
%%sql

# Inserting data

Now we need some data to work with, and I suggest you begin
by inserting some authors (I have a list of Nobel laureates
below, in the Extra section)...

In [ ]:
%%sql

..., then some books (preferably written by the authors you
just inserted -- there are some books in the Extra section
below) ...

In [ ]:
%%sql

..., and then we need to make sure to note who wrote what
(we should insert that into the `authorship` table):

In [ ]:
%%sql

Then, before we create copies of our books, we need to have
a library to put them in, and to do that we need somewhere
to put the library.

So, add values tables as necessary to create a couple of
copies of some of your books.

In [ ]:
%%sql

Now we need some borrowers, and some library cards, so go
insert some of them:

In [ ]:
%%sql

And finally let someone borrow something (if you want, you
can skip the business of creating librarians, we'll assume
everything is handled automatically):

In [ ]:
%%sql

# Queries

Now you can practice querying the database, here are some
suggestions (you can try the structure of your queries
without adding any data, but without data it's harder to see
if the query is correct):

+ Find all book titles by "Tomas Tranströmer", or whatever
  favorite author you may have (it really should be
  Tranströmer, though).

In [ ]:
%%sql

+ Once again, list all book titles by your favorite author,
  but this time show how many copies we have of each book.

In [ ]:
%%sql

+ Find all copies (just copy id) who hasn't been borrowed
  since 2016-01-01.

In [ ]:
%%sql

+ Find all copies (copy id and book title) who hasn't been
  borrowed since 2016-01-01.

In [ ]:
%%sql

+ Find all book titles who hasn't been borrowed since
  2016-01-01.

In [ ]:
%%sql

+ List Anna Bokstavs three favorite authors (i.e., the three
  authors whose books she has borrowed the most).

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

+ Your own query

In [ ]:
%%sql

# Extra: Python preparation

You don't have to learn Python to take this course, but lab
3 and the project will become much easier if you know some
Python.

There is a video tutorial in the syllabus, and if you want
some practice, I suggest you save the list of Nobel
laureates below in a [csv
file](https://en.wikipedia.org/wiki/Comma-separated_values),
and then run this python code to generate suitable insert
statements (you can't run this cell, since it is looking for
a filename given on the command line):

In [ ]:
import sys

def main():
    filename = sys.argv[1]
    with open(filename) as f:
        for line in f:
            [ssn, name, country, birth_year] = [s.strip() for s in line.split(';')]
            print(f'        ("{ssn}", "{name}", "{country}", {birth_year}),')


if __name__ == "__main__":
    main()

This may look strange if you haven't seen Python before, but
this small program covers a surprisingly big part of what
you're going to need to use Python for lab 3 and the
project, and I'll be happy to answer any questions about it
during the QA sessions. (BTW, there is a great Python
library for reading CSV files, and it could certainly have
been used here, but I wanted to show you some common Python
idioms without too much bells and whistles.)

If you save the code above in a file
`generate-author-inserts.py`, and the authors in a file
`authors.csv`, you can run

```{.sh}
  python generate-author-inserts.py authors.csv
```

to get a list of values which can be used in an insert
statement for the authors (you need to come up with the
first part of the `INSERT` statement yourself).

And then try to write your own adaption of the code above,
in a file `generate-books.py`, which generates values to
insert into the `books` table -- you can paste the following
books into a file `books.csv` (they are all by Tomas
Tranströmer -- most, but not all, of the isbn numbers are
fake, I couldn't find the correct ones):

```{.text}
1954,17 dikter,9780241362458
1958,Hemligheter på vägen,978024136566
1962,Den halvfärdiga himlen,9780241362822
1966,Klanger och spår,9789100103124
1970,Mörkerseende,9780900626746
1973,Stigar,9789100101648
1974,Östersjöar,9789188152039
1978,Sanningsbarriären,9789100104566
1983,Det vilda torget,9789100106484
1989,För levande och döda,9789100108445
1996,Sorgegondolen,9789100562328
2001,Fängelse,9789100102485
2004,Den stora gåtan,9789100103101
```

Here I've used commas (,) as a separator (in the list of
Nobel laureates read by the program above, I hade used
semicolons), so you need to adapt for that in your program.


## Nobel laureates in literature

Observe that I've used semicolon (;) as a separator in this
listing (the format is called _Comma-Separated-Value_, other
separators, such as semicolon, tabs, colons, etc., are quite
often used -- in this case a comma would make it harder to
parse the rows, since the names contain a comma).

~~~{.text}
18390316-1901;Prudhomme, Sully;France;1839
18171130-1902;Mommsen, Theodor;Germany;1817
18321208-1903;Bjørnson, Bjørnstjerne;Norway;1832
18320419-1904;Echegaray, José;Spain;1832
18300908-1904;Mistral, Frédéric;France;1830
18460505-1905;Sienkiewicz, Henryk;Poland;1846
18350727-1906;Carducci, Giosuè;Italy;1835
18651230-1907;Kipling, Rudyard;India;1865
18460105-1908;Eucken, Rudolf;Germany;1846
18581120-1909;Lagerlöf, Selma;Sweden;1858
18300315-1910;Heyse, Paul;Germany;1830
18620829-1911;Maeterlinck, Maurice;Belgium;1862
18621115-1912;Hauptmann, Gerhart;Poland;1862
18610507-1913;Tagore, Rabindranath;India;1861
18660129-1915;Rolland, Romain;France;1866
18590706-1916;von Heidenstam, Verner;Sweden;1859
18570602-1917;Gjellerup, Karl;Denmark;1857
18570724-1917;Pontoppidan, Henrik;Denmark;1857
18450424-1919;Spitteler, Carl;Switzerland;1845
18590804-1920;Hamsun, Knut;Norway;1859
18440416-1921;France, Anatole;France;1844
18660812-1922;Benavente, Jacinto;Spain;1866
18650613-1923;Yeats, William Butler;Ireland;1865
18670507-1924;Reymont, Wladyslaw;Poland;1867
18560726-1925;Shaw, George Bernard;Ireland;1856
18710927-1926;Deledda, Grazia;Italy;1871
18591018-1927;Bergson, Henri;France;1859
18820520-1928;Undset, Sigrid;Denmark;1882
18750606-1929;Mann, Thomas;Germany;1875
18850207-1930;Lewis, Sinclair;USA;1885
18640720-1931;Karlfeldt, Erik Axel;Sweden;1864
18670814-1932;Galsworthy, John;United Kingdom;1867
18701022-1933;Bunin, Ivan;Russia;1870
18670628-1934;Pirandello, Luigi;Italy;1867
18881016-1936;O'Neill, Eugene;USA;1888
18810323-1937;Martin du Gard, Roger;France;1881
18920626-1938;Buck, Pearl;USA;1892
18880916-1939;Sillanpää, Frans Eemil;Finland;1888
18730120-1944;Jensen, Johannes V.;Denmark;1873
18890407-1945;Mistral, Gabriela;Chile;1889
18770702-1946;Hesse, Hermann;Germany;1877
18691122-1947;Gide, André;France;1869
18880926-1948;Eliot, T.S.;USA;1888
18970925-1949;Faulkner, William;USA;1897
18720518-1950;Russell, Bertrand;United Kingdom;1872
18910523-1951;Lagerkvist, Pär;Sweden;1891
18851011-1952;Mauriac, François;France;1885
18741130-1953;Churchill, Winston;United Kingdom;1874
18990721-1954;Hemingway, Ernest;USA;1899
19020423-1955;Laxness, Halldór;Iceland;1902
18811224-1956;Jiménez, Juan Ramón;Spain;1881
19131107-1957;Camus, Albert;Algeria;1913
18900210-1958;Pasternak, Boris;Russia;1890
19010820-1959;Quasimodo, Salvatore;Italy;1901
18870531-1960;Perse, Saint-John;Guadeloupe Island;1887
18921010-1961;Andric, Ivo;Bosnia and Herzegovina;1892
19020227-1962;Steinbeck, John;USA;1902
19000313-1963;Seferis, Giorgos;Turkey;1900
19050621-1964;Sartre, Jean-Paul;France;1905
19050524-1965;Sholokhov, Mikhail;Russia;1905
18880717-1966;Agnon, Shmuel;Ukraine;1888
18911210-1966;Sachs, Nelly;Germany;1891
18991019-1967;Asturias, Miguel Angel;Guatemala;1899
18990611-1968;Kawabata, Yasunari;Japan;1899
19060413-1969;Beckett, Samuel;Ireland;1906
19181211-1970;Solzhenitsyn, Alexandr;Russia;1918
19040712-1971;Neruda, Pablo;Chile;1904
19171221-1972;Böll, Heinrich;Germany;1917
19120528-1973;White, Patrick;United Kingdom;1912
19000729-1974;Johnson, Eyvind;Sweden;1900
19040506-1974;Martinson, Harry;Sweden;1904
18961012-1975;Montale, Eugenio;Italy;1896
19150610-1976;Bellow, Saul;Canada;1915
18980426-1977;Aleixandre, Vicente;Spain;1898
19040714-1978;Singer, Isaac Bashevis;Poland;1904
19111102-1979;Elytis, Odysseus;Greece;1911
19110630-1980;Milosz, Czeslaw;Lithuania;1911
19050725-1981;Canetti, Elias;Bulgaria;1905
19270306-1982;García Márquez, Gabriel;Colombia;1927
19110919-1983;Golding, William;United Kingdom;1911
19010923-1984;Seifert, Jaroslav;Czech Republic;1901
19131010-1985;Simon, Claude;Madagascar;1913
19340713-1986;Soyinka, Wole;Nigeria;1934
19400524-1987;Brodsky, Joseph;Russia;1940
19111211-1988;Mahfouz, Naguib;Egypt;1911
19160511-1989;Cela, Camilo José;Spain;1916
19140331-1990;Paz, Octavio;Mexico;1914
19231120-1991;Gordimer, Nadine;South Africa;1923
19300123-1992;Walcott, Derek;Saint Lucia;1930
19310218-1993;Morrison, Toni;USA;1931
19350131-1994;Oe, Kenzaburo;Japan;1935
19390413-1995;Heaney, Seamus;Northern Ireland;1939
19230702-1996;Szymborska, Wislawa;Poland;1923
19260324-1997;Fo, Dario;Italy;1926
19221116-1998;Saramago, José;Portugal;1922
19271016-1999;Grass, Günter;Poland;1927
19400104-2000;Gao, Xingjian;China;1940
19320817-2001;Naipaul, V. S.;Trinidad and Tobago;1932
19291109-2002;Kertész, Imre;Hungary;1929
19400209-2003;Coetzee, J. M.;South Africa;1940
19461020-2004;Jelinek, Elfriede;Austria;1946
19301010-2005;Pinter, Harold;United Kingdom;1930
19520607-2006;Pamuk, Orhan;Turkey;1952
19191022-2007;Lessing, Doris;Iran;1919
19400413-2008;Le Clézio, Jean-Marie Gustave;France;1940
19530817-2009;Müller, Herta;Romania;1953
19360328-2010;Vargas Llosa, Mario;Peru;1936
19310415-2011;Tranströmer, Tomas;Sweden;1931
19550202-2012;Yan, Mo;China;1955
19310710-2013;Munro, Alice;Canada;1931
19450730-2014;Modiano, Patrick;France;1945
19480531-2015;Alexievich, Svetlana;Ukraine;1948
19410524-2016;Dylan, Bob;USA;1941
19541108-2017;Ishiguro, Kazuo;Japan;1954
19620129-2018;Tokarczuk, Olga;Poland;1962
19421206-2019;Handke, Peter;Austria;1942
~~~